################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Build/Source/GitHubBuild/bin
/Build/Source/GitHubBuild/obj/Debug
/Build/Source/GitHubBuild.Tests/bin/Debug
/Build/Source/GitHubBuild.Tests/obj/Debug
