<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Azure.DocumentDB.Url" value="https://{mydocdb}.documents.azure.com:443/" />
		<add key="Azure.DocumentDB.Key" value="{key}" />
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>